{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
  {{building.name}}
{% endblock %}

{% block header %}
<div id="head" class="secondary" style=></div>
{% endblock %}

{% block body %}
<div class="container">

  <ol class="breadcrumb">
    <li><a href="{% url 'index' %}">{% trans "Início" %}</a></li>
    <li><a href="{% url 'dashboard' %}">{% trans "Painel de Controle" %}</a></li>
    <li><a href="{% url 'campuses:index' %}">{% trans "Câmpus" %}</a></li>
    <li><a href="{% url 'campuses:campus_index' campus.url_param %}">{{campus.acronym}}</a></li>
    <li class="active">{{building.name}}</li>
  </ol>

  <div class="row">
    <article class="col-xs-12 maincontent">

      <header class="page-header">
        <h1 class="page-title">{{building.name}}</h1>
      </header>

      <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
        <div class="text-center">
          <b><a href="{% url 'buildings:building_info' building.id %}" class="btn btn-primary">{% trans "Informações do Edifício" %}</a></b>

          {% if perms.users.manager_transductors %}
            <b><a href="{% url 'transductor:new' building.id %}" class="btn btn-success">{% trans "Cadastrar Transdutor" %}</a></b>

            {% if inactive_transductors %}
              <b><a href="{% url 'buildings:inactive_transductors' building.id %}" class="btn btn-info">{% trans "Transdutores Desativados" %}</a></b>
            {% endif %}
          {% endif %}
        </div>
        <hr>

        <div class="panel panel-default">
          <div class="panel-body">
            <h3 class="thin text-center">{% trans "Lista de Transdutores" %}</h3>
            <hr>

            {% if transductors_list %}
              <table id="centered_table" class="table table-bordered">
                <thead>
                  <tr>
                    <th>{% trans "Nome" %}</th>
                    <th>{% trans "Modelo" %}</th>
                    <th>{% trans "Funcionando" %}</th>
                  </tr>
                </thead>

                <tbody>
                  {% for transductor in transductors_list %}
                    <tr>
                      <td><a href="{% url 'transductor:info' transductor.id %}">{{transductor.name}}</a></td>
                      <td>{{transductor.model}}</td>

                      {% if transductor.broken%}
                        <td><span id="broken" class="glyphicon glyphicon-remove"></td>
                      {% else %}
                        <td><span class="glyphicon glyphicon-ok"></td>
                      {% endif %}
                    </tr>
                  {% endfor %}
                </tbody>
              </table>

            {% else %}
              <div class="container">
                <div class="starter-template">
                  <h2>{% trans "Nenhum Transdutor Registrado" %}</h2>
                </div>
              </div>
            {% endif %}
          </div> <!-- end div panel- -->
        </div>
      </div>
    </article>
  </div>
</div>
{% endblock %}
