{% extends 'base.html' %}

{% load i18n %}

{% block title %}
  {% trans "Câmpus da UnB" %}
{% endblock %}

{% block header %}
<div id="head" class="secondary" style=></div>
{% endblock %}

{% block body %}
<div class="container">

  <ol class="breadcrumb">
    <li><a href="{% url 'index' %}">{% trans "Início" %}</a></li>
    <li><a href="{% url 'dashboard' %}">{% trans "Painel de Controle" %}</a></li>
    <li class="active">{% trans "Câmpus" %}</li>
  </ol>

  <div class="row">
    <article class="col-xs-12 maincontent">
      <header class="page-header">
        <h1 class="page-title">{% trans "Câmpus da Universidade" %}</h1>
      </header>

      <div class="container">
        <h2 class="text-center thin">{% trans "Escolha um Campus" %}</h2>

        <div class="row">
          {% for campus in campuses %}
            <div class="col-lg-3 col-md-6 text-center">
              <div class="service-box">
                <i class="fa fa-4x fa-university sr-icons"></a></i>
                <h3><a href="{% url 'campuses:campus_index' campus.url_param%}">{{campus.acronym}}</a></h3>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      <hr>
    </article>
  </div>
</div>
{% endblock %}