.cc-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}

.id_measurement_day_1{background-image:url("../images/1.png");}
.id_measurement_day_2{background-image:url("../images/2.png");}
.id_measurement_day_3{background-image:url("../images/3.png");}
.id_measurement_day_4{background-image:url("../images/4.png");}
.id_measurement_day_5{background-image:url("../images/5.png");}
.id_measurement_day_6{background-image:url("../images/6.png");}
.id_measurement_day_7{background-image:url("../images/7.png");}
.id_measurement_day_8{background-image:url("../images/8.png");}
.id_measurement_day_9{background-image:url("../images/9.png");}
.id_measurement_day_10{background-image:url("../images/10.png");}
.id_measurement_day_11{background-image:url("../images/11.png");}
.id_measurement_day_12{background-image:url("../images/12.png");}
.id_measurement_day_13{background-image:url("../images/13.png");}
.id_measurement_day_14{background-image:url("../images/14.png");}
.id_measurement_day_15{background-image:url("../images/15.png");}
.id_measurement_day_16{background-image:url("../images/16.png");}
.id_measurement_day_17{background-image:url("../images/17.png");}
.id_measurement_day_18{background-image:url("../images/18.png");}
.id_measurement_day_19{background-image:url("../images/19.png");}
.id_measurement_day_20{background-image:url("../images/20.png");}
.id_measurement_day_21{background-image:url("../images/21.png");}
.id_measurement_day_22{background-image:url("../images/22.png");}
.id_measurement_day_23{background-image:url("../images/23.png");}
.id_measurement_day_24{background-image:url("../images/24.png");}
.id_measurement_day_25{background-image:url("../images/25.png");}
.id_measurement_day_26{background-image:url("../images/26.png");}
.id_measurement_day_27{background-image:url("../images/27.png");}
.id_measurement_day_28{background-image:url("../images/28.png");}
.id_measurement_day_29{background-image:url("../images/29.png");}
.id_measurement_day_30{background-image:url("../images/30.png");}
.id_measurement_day_31{background-image:url("../images/31.png");}

.cc-selector input:active +.drinkcard-cc{opacity: .9;}
.cc-selector input:checked +.drinkcard-cc{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}

.drinkcard-cc{
    cursor:pointer;
    background-repeat:no-repeat;
    display:inline-block;
    width:33px;height:33px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.5);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.5);
            filter: brightness(1.8) grayscale(1) opacity(.5);
}
.drinkcard-cc:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}

.individual-option{
  width: 90%;
  margin: 0 auto;
}

.inside-option {
  display: none;
}

.top-margin {
  position: relative;
}

.button, label[for="id_current_measurement"] {
  cursor: pointer;
  width: 100%;
  text-align: center;
  display: inline-block;
  white-space: nowrap;
  background-color: #f5f9ff;
  background-image: linear-gradient(top, #eee, #ccc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#cccccc');
  border: 2px solid #777;
  font: bold 1em/2em Arial, Helvetica;
  text-decoration: none;
  color: #333;
  text-shadow: 0 1px 0 rgba(255,255,255,.8);
  border-radius: .5em;
  box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
}

.button:hover, label[for="id_current_measurement"]:hover {
  background-color: #d0e2ff;
  background-image: linear-gradient(top, #fafafa, #ddd);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafafa', EndColorStr='#dddddd');
}

.button.active, #id_current_measurement:checked + label{
  background: #afceff;
  box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
  position: relative;
  top: 1px;
}

.button:before {
  background: #ccc;
  float: left;
  width: 1.3em;
  text-align: center;
  font-size: 1.5em;
  margin: 0 1em 0 -1em;
  padding: 0 .2em;
  box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
  border-radius: .15em 0 0 .15em;
  pointer-events: none;
}

/* Hexadecimal entities for the icons */

.add:before {
  content: "\271A";
}

.edit:before {
  content: "\270E";
}

.delete:before {
  content: "\2718";
}

.save:before {
  content: "\2714";
}

.email:before {
  content: "\2709";
}

.like:before {
  content: "\2764";
}

.next:before {
  content: "\279C";
}

.star:before {
  content: "\2605";
}

.spark:before {
  content: "\2737";
}

.play:before {
  content: "\25B6";
}
